@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');



*, *::before, *::after {
    box-sizing: border-box;
}


/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

section {
    padding: 3em 0;
}

.section-title {
    font-size: 2.3rem;
    color: #f3eed9;
}

.section-title--dark {
    color: #824936;
}

.container {
    max-width: 1128px;
    width: 85%;
    margin: 0 auto;
}

h1, h2 {
    margin-top: 0;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    line-height: 1;
}

.intro {
    background: #F3EED9;
    min-height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2em;
    text-align: center;
    color: #824936;
}

.intro__text {
    color: #222c2a;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
    margin: 0;
}

.intro__title {
    font-size: 2.5rem;
}

.first-section {
    background-color: #fff;
    color: 
}

.second-section {
    background-color: #222C2A;
    color: #fff;
}

.third-section {
    background-color: #824936;
    color: #fff;
}

@media (min-width: 750px) {
    .row {
        display: flex;
        gap: 4rem;
    }
    .container {
        width:80%;
    }
    .section-title--dark {
        text-align: center;
    }
    .col {
        width: 100%;
    }
    .intro__title {
        font-size: 3.5rem;
    }
}